<h1>Hey there <%= @user_name %></h1>,

<p>
You just sent this email using the <a href="http://apps.facebook.com/facebooker_tutorial">Facebooker Tutorial</a> 
and the <a href="http://facebooker.rubyforge.org/classes/Facebooker/Rails/Publisher.html">Facebooker Publisher</a> API.

Have fun now,
<p>
<em>
  Dave
</em>