/* Styles stolen from various facebook css */
body {
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:14px;
text-align:left;
}      

a {
color:#3B5998;
text-decoration:none;
font-weight:bold;
}  

a:hover {
text-decoration:underline;
}      

h1, h2, h3, h4, h5 {
color:#333333;
font-size:13px;
margin:0px;
padding:0px;
}    

h1 {
font-size:14px;
}
h4, h5 {
font-size:11px;
}
p {
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:11px;
text-align:left;
}

/* End stolen*/